
/* Reglas generales*/
* {
    margin: 0;
    padding: 0;
  box-sizing: border-box; 
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    font-family: var(--font-roboto);
    background-color: var(--gris-claro);
}

li{
    list-style: none;
font-size: 22px;
    float: left;
    
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px;
}