/* HEADER*/

header {
    background-color: var(--amarillo);
    font-size: var(--paragraph);
    padding-bottom: 10px;
   
    }

    header .horizon{
        
        width: 100%;
         height: 120px;
    }
header .burger-menu {
    background-color: var(--celeste);
    color: #fff;
    width: 25px;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto 0;
}

header .logo {
     display: inline-block; 
     width: 48%; 
     margin-top: 10px;
     justify-content: center;
   
   
   
    
    
    
}

/* search-bar */

header .search-bar {
 display: inline-block;
 width:50% ;
 

    /*margin-left: 15px;*/ 
}
header .search-bar input{
    width: 75%;
height: 30px;
border-radius: 7px;
border: none;
}
header button.boton{
    display: inline-block;
width: 30px;
height: 30px;
   
}

/* Quota */

header .quota {
    text-align: center;
    margin: 10px 0 20px;
}

/* Nav */

header nav ul#top-list {
    margin-bottom: 25px;
}





